.home {
  min-height: 100vh;
  background: var(--dark);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

@media (max-width: 1200px) {
  .container {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}